body{
    margin: 0px;
    padding: 20px;
}

header{
    background-color: #68b0ab;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header figure{
    margin: 0px;
}

header figure img{
    width: 100px;
}

.menu{
    font-size: 20px;
    
}

.menu a{
    text-decoration: none;
    color: cornsilk;
    padding: 10px;
}


table{
    border-collapse: collapse;
}

table td{
    padding: 5px;
}
